# Bases de données
*.sqlite3
db.sqlite3

# Python
*.pyc
__pycache__/

# Migrations Django (optionnel si tu veux ne pas les versionner)
migrations/

# Environnement virtuel
venv/
.env

# IDEs et éditeurs
.vscode/
.idea/

# Fichiers statiques générés
/staticfiles/
