{% extends 'index.html' %}


{% block content %}

 
<div class="home-content">
  <div class="overview-boxes">
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Formateur Total</div>
        <div class="number">40,876</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
           
        </div>
      </div>
      <i class="bx bx-cart-alt cart"></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Encadreur Total</div>
        <div class="number">38,876</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          
        </div>
      </div>
      <i class="bx bxs-cart-add cart two"></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Apprenants Total</div>
        <div class="number">12,876 F</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          
        </div>
      </div>
      <i class="bx bx-cart cart three"></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Stagiaires Total</div>
        <div class="number">11,086</div>
        <div class="indicator">
          <i class="bx bx-down-arrow-alt down"></i>
          
        </div>
      </div>
      <i class="bx bxs-cart-download cart four"></i>
    </div>

    
  </div>


  <div class="overview-boxes">
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Paye Apprenant</div>
        <div class="number">40,876</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
           
        </div>
      </div>
      <i class="bx bx-cart-alt cart"></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Payement Stagiaire</div>
        <div class="number">38,876</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          
        </div>
      </div>
      <i class="bx bxs-cart-add cart two"></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Notifications</div>
        <div class="number">12,876 F</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          
        </div>
      </div>
      <i class="bx bx-cart cart three"></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Facturation</div>
        <div class="number">11,086</div>
        <div class="indicator">
          <i class="bx bx-down-arrow-alt down"></i>
          
        </div>
      </div>
      <i class="bx bxs-cart-download cart four"></i>
    </div>

    
  </div>

   
</div>

 
 
 


{% endblock  %}

 